{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}

<ul>
    <li>
        <a href="certificates">Certificates</a>
    </li>
    <li>
        <a href="domains">Domains</a>
    </li>
    <li>
        <a href="endpoints">Endpoints</a>
    </li>
</ul>

<p>ACME Entrypoint: <a href="{{acme_url}}">{{acme_url}}</a></p>

<h3>CA Information</h3>
<ul>
    <li><strong>Common Name:</strong> {{ca_name}}</li>
    <li><strong>Organization:</strong> {{ca_org}}</li>
</ul>

{% endblock %}